{% extends "layout.html" %}

{% block content %}

    <nav class="sidebar">
        <!-- Button to create a new channel -->
        <div class="create-channel">
            <a href="{{ url_for('create') }}">
                <p id="create-channel"><strong><span>&#43;</span>Channel</strong></p>
            </a>
        </div>
        
        <hr>

        <!-- Sidebar List for Channels -->
        {% for channel in channels %}
            <div class="channel"><p class="select-channel">{{ channel }}</p></div>
        {% endfor %}

        <hr>

        <!-- Sidebar List for Logged-In Users -->
        {% if usernames %}
        <div id="users-list"><p><strong>Users Online:</strong></p></div>

        <hr>

        {% for username in usernames %}
            <div class="channel"><p class="select-private-channel">{{ username }}</p></div>
        {% endfor %}
        {% endif %}
    </nav>

    <main class="display-message-section">

        <!-- SAMPLE HEADER -->
        <!-- <h1 id="channel-name">You are in <span id="channel-name-content">Lounge<span></h1> -->
        
        <!-- SAMPLE MESSAGE FORMATS -->
        <!-- <div class="system-message">
            <p><span class="username">nahua</span> has joined the channel Lounge</p>
        </div>
        
        <div class="my-message">
            <p><span class="username">nahua</span> <span class="timestamp">Jan 01, 2020 09:10 AM</span>
                <br>Hello, World!</p>
        </div>
        
        <div class="system-message">
            <p><span class="username">nade</span> has joined the channel Lounge</p>
        </div>
        
        <div class="others-message">
            <p><span class="username">nade</span> <span class="timestamp">Jan 01, 2020 09:11 AM</span>
                <br>Hello, Nahua!</p>
        </div>
            
        <div class="private-message">
            <p><span class="username">nade</span> <span class="private">(Private)</span> <span class="timestamp">Jan 01, 2020 09:11 AM</span>
                <br>To start a private message with me, just click my username to the right!</p>
        </div> -->

    </main>

    <div class="input-area">

        <input type=text id="user-message" placeholder="Say something" autocomplete="off">
        <button type="button" id="send-message">Send</button>

    </div>

    <!-- 
        Get username and session['currentChannel '] from chat() in application.py 
        https://stackoverflow.com/questions/3244361/can-i-access-variables-from-another-file
    -->
    <script type="text/javascript"> 
        // this way, we can directly use username in our socketio.js file
        var username = `{{ session["username"] }}`; 
        // channel variable is updated on 1. after signin, 2. after creating new channel 3. after join another channel
        var channel = `{{ session["currentChannel"]|safe }}`;  //https://stackoverflow.com/a/35557758/6297414: safe to render
    </script>

    <!-- Custom/Non-SocketIO JS -->
    <script src={{ url_for("static", filename="scripts/chat_page.js") }}></script>

    <!-- SocketIO JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

    <!-- Custom SocketIO JS -->
    <script src={{ url_for("static", filename="scripts/socketio.js") }}></script>

{% endblock %}