<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--My CSS-->
    <link rel="stylesheet" href="../static/style.css">

    {% block head %}
    {% endblock %}
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

    {% if session.username %}
        <nav>
            <ul>
                <li><a href="#">FLACK</a></li>
            </ul>
            <ul class="user-tab">
                <li>            
                    <a href="#" style="color: #44BBA4;"> {{ session.username }} </a>
                </li>
                <li>
                    <a id="logout" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </nav>
    {% else %}
        <nav>
            <ul>
                <li><a href={{ url_for('index') }}>FLACK</a></li>
            </ul>
        </nav>
    {% endif %}

    <div class="wrapper">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>